/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Work+Sans:ital,wght@0,300;0,500;0,700;0,900;1,400&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

.italic {
  font-family: "Playfair Display", serif;
}

input,
textarea {
  border-radius: 8px;
}

#userCard {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(20px);
}
